*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Nirmala UI',sans-serif;
  background: #00B19C;
  backround:-webkit-linear-gradient(to right,#A0D9D9,#00B19C);
  backround:linear-gradient(to right,#A0D9D9,#00B19C);

}


